<html>
<head>
<link rel="stylesheet" href="vendor/jquery.mobile-1.4.5.min.css">
<link rel="stylesheet" href="lines.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
<meta charset="UTF-8">
</head>
<body>
  <div data-role="page" id="top">
    <h1>Lines</h1>
    <center>
    <% (1..7).each do |x| %>
    <img src="images/gem0<%= x %>.svg" width="40">
    <% end %>
    </center>
    <a href="#one" class="ui-btn">ゲーム開始</a>
    <a href="#ranking" class="ui-btn">ランキング</a>
  </div>

  <div data-role="page" id="one">
    <div id="next"></div>
    <div id="score"></div>
    <div class="break"></div>
    <div id="content"></div>
    <a href="/" class="ui-btn">戻る</a>
  </div>

  <div data-role="page" id="ranking">
    <h2>ランキング</h2>
    <ol data-role="listview">
    <% @scores.each do |k,v| %>
      <li><%= k %><span class="ui-li-count"><%= v %></span></li>
    <% end %>
    </ol>
    <a href="/" class="ui-btn">戻る</a>
  </div>
</div>

<script src="vendor/jquery.min.js"></script>
<script src="vendor/jquery.mobile-1.4.5.min.js"></script>
<script src="vendor/jquery-ui.min.js"></script>
<script src="vendor/jquery.jrumble.1.3.min.js"></script>
<script src="lines.js"></script>
</body>
</html>
