.ball {
  width: 28px;
  height: 28px;
}
h1, h2, h3 {
  text-align: center;
}
#one table {
  empty-cells: show;
}
#one td {
  text-align: center;
  vertical-align: middle;
  border: 1px outset lightgray;
  background-color: lightgray;
}
#content {
  text-align: center;
}
#next {
  float: left;
}
#score {
  text-align: right;
}
.break {
  clear: left;
}
